main {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.Search {
  background-color: #d0cfce;
  flex-grow: 2;
  margin: 0.2rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.Search-Bar {
  padding: 1.2rem 0.8rem;
  border: 1px solid #d0cfce;
  outline: none;
  width: 50%;
  border-radius: 10px;
}

.Search-Bar:focus {
  border: 1px solid #0c2461;
  transition: 0.4s ease;
  color: #0c2461;
}

.Search button {
  padding: 1.2rem 0.8rem;
  margin-left: 0.2rem;
  border: 1px solid #0c2461;
  outline: none;
  border-radius: 10px;
  background-color: #0c2461;
  color: #fff;
}

.Search button:hover {
  cursor: pointer;
  background-color: #cb4154;
  color: #fff;
  transition: 0.2s ease;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4);
  border: inherit;
}

.Search button:active {
  background-color: #b52a3d;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.4);
  border: inherit;
}

.Results {
  display: flex;
  justify-content: space-between;
}

.Results > * {
  flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  .Results {
    flex-direction: column;
  }
}
