.modal-title {
  color: red;
}

.confirm-button-class {
  padding: 1.2rem 1.8rem;
  margin: 1rem;
  border: 1px solid #0c2461;
  outline: none;
  border-radius: 10px;
  background-color: #0c2461;
  color: #fff;
  cursor: pointer;
}
